resource %(name)s {
  net {
    allow-two-primaries;
    max-buffers 8000;
    max-epoch-size 8000;
    sndbuf-size 0;
  }
  syncer {
    rate 66M;
  }
  disk {
    no-disk-barrier;
    no-disk-flushes;
  }
  on <host1> {
    device    /dev/drbd%(minor)d;
    disk      %(lv_path)s;
    address   <host1-ip>:%(port)d;
    meta-disk internal;
  }
  on <host2-ip> {
    device    /dev/drbd%(minor)d;
    disk      %(lv_path)s;
    address   <host2-ip>:%(port)d;
    meta-disk internal;
  }
}